{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>
        صفحه ورود
    </title>
{% endblock %}
{% block body %}
    <div class="container text-center mt-5">
        <form class="form-inline" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="container-sm">
                <div class="row">
                    <div class="field">
                        <h6 class="text-info mt-2">{{ login_form.username.label }}</h6>
                        <p class="control has-icons-left">
                            {{ login_form.username }}
                            <span class="icon is-small is-left">
                                <i style="color: #1F2330;" class="fas fa-user-circle"></i>
                            </span>
                        </p>
                    </div>
                    <h6 class="text-info mt-2">{{ login_form.password.label }}</h6>
                    <div class="field">
                        <p class="control has-icons-left">
                            {{ login_form.password }}
                            <span class="icon is-small is-left">
                                <i style="color: #1F2330;" class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button style="width: 150px;" id="login" type="submit" class="btn btn-info text-dark">ورود</button>
                    </div>
                    <a class="link-info mt-2" href="{% url 'register' %}">حساب کاربری ندارید؟ اینجا کلیک کنید</a>
                    <a class="link-info mt-2" href="{% url 'reset' %}">رمز ورود خود را فراموش کرده اید؟ اینجا کلیک کنید</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        jQuery(function($){
            $(document).ajaxSend(function() {
                $('spinner-border').fadeIn(580);

                var loading_tag = '<div class="spinner-border"></div>&nbsp;&nbspلطفا صبر کنید';
                $('#login').html(loading_tag);
            });

            $('#login').click(function() {
                $.ajax({
                    type: 'GET',
                    success: function(data) {
                        console.log(data);
                    }
                }).done(function() {
                    setTimeout(function() {
                        $('.spinner-border').fadeOut(500);
                    }, 700);
                });
            });
        });
    </script>
{% endblock %}